{% extends "base.html" %}
{% load static %}
{% load endless %}
{% block content %}

    {% paginate posts %}

        {% for post in posts %}
                <a href="post/{{ post.id }}">
                    {% if post.image %}
                        <img class="img" src="{{ MEDIA_URL }}{{ post.image }}" width="300">
                    {% else %}
                        <img class="img" src="{{ STATIC_URL }}img/default.jpg" width="300">
                    {% endif %}
                    <div class="post-text">
                        <h3>{{ post.title }}</h3>
                        <span>{{ post.body|safe|truncatewords:"20"|linebreaks }}</span>
                    </div>
                </a>
        {% endfor %}

    {% show_pages %}
{% endblock %}