{% extends "base.html" %}
{% load static %}
{% load endless %}
{% block content %}

    {% paginate posts %}
    <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 20, "itemSelector": ".item" }'>
        {% for post in posts %}
            <div class="wrap-post item">
                <a href="post/{{ post.id }}">
                    <img class="img" src="{{ MEDIA_URL }}{{ post.image }}" width="300">

                    <div class="post-text">
                        <h3>{{ post.title }}</h3>
                        <span>{{ post.body|safe|truncatewords:"50"|linebreaks }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% show_pages %}
{% endblock %}