{% extends "base.html" %}
{% load static %}
{% load endless %}
{% load thumbnail %}
{% block content %}
    <div class="col-md-12 blog-main">
        {% paginate posts %}

        {% for post in posts %}
            <div class="post-wrap">
                <div class="post-title">
                    <a href="post/{{ post.id }}"><h2>{{ post.title }}</h2></a>
                </div>
                <div class="post-body">
                    {% if post.image %}
                        <div class="post-img">
                            <img class="img" src="{% thumbnail post.image 430x360 box=post.cropping crop detail %}"
                                 width="150">
                        </div>
                    {% endif %}
                    <div class="post-text">
                        {{ post.body|safe|truncatewords:"50"|linebreaks }}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% show_pages %}
    </div>
    <div class="col-sm-3">

    </div>
{% endblock %}