{% extends "base.html" %}

{% block content %}
     <div class="span4 offset4">
    <h1>Войти в BioInfo</h1>
    {% if status %}
        <p>{{ status }}</p>
    {% endif %}
    <form id="login_form" method="post" action="/login/">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50"/>
        <br/>
        Password: <input type="password" name="password" value="" size="50"/>
        <br/>

        <input class="btn btn-primary" type="submit" value="Войти"/>
    </form>
     </div>
{% endblock %}