{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="span4 offset1">
        <h2>{{ user.username }}</h2>

        {% if userprofile %}
            <p>Пол: {{ userprofile.gender }}</p>
            <p>Возвраст: {{ age }}</p>
            <p>Тип диабета: {{ diabet_type }}</p>
            <p>Индекс Кердо: {{ kerdo }}</p>
            <p>Коэффициент экономизации кровообращения: {{ economisation }}</p>
            <p>Двойное произведение. Этот показатель отражает нагрузку сердце: {{ w }}</p>
            <p>Ударный объем: {{ uo }}</p>
            <p>Данные анализов: </p><img src="{{ MEDIA_URL }}{{ pict }}" width="600px">
        {% endif %}
    </div>
{% endblock %}